In [5]:
import psycopg2 as pg
from psycopg2 import OperationalError
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [4]:
connection = pg.connect(dbname = 'postgres',
                       host = 'localhost',
                       user = 'postgres',
                       password = 'admin',
                       port = 5432)
cursor = connection.cursor()

In [16]:
connection.rollback()

Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

In [17]:
cursor.execute('''select distinct brand from products
                  where standard_cost > 1500''')
pd.DataFrame(cursor.fetchall()) # columns=['transaction_id','product_id','customer_id','transaction_date','online_order','order_status']

                0
0  Giant Bicycles
1      OHM Cycles
2           Solex
3   Trek Bicycles

Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.

In [20]:
cursor.execute('''select * from transaction
                  where order_status like 'Approved'
                  and transaction_date between '2017-04-01' and '2017-04-09' ''')
pd.DataFrame(cursor.fetchall()).shape

(531, 6)

Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

In [22]:
cursor.execute('''select distinct job_title from jobs
                  where job_industry_category in ('IT', 'Financial Services')
                  and job_title like 'Senior%'
                 ''')
pd.DataFrame(cursor.fetchall())

                          0
0    Senior Cost Accountant
1          Senior Developer
2             Senior Editor
3  Senior Financial Analyst
4   Senior Quality Engineer
5    Senior Sales Associate